html {
  font-size: 14px;
}
*{
  margin:0;
  padding:0;
  font-family: "Nunito", sans-serif;
}
.gender-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.progress-value {
  position: relative;
  z-index: 1;
  text-align: center;
  font-weight: bold;
  color: #333;
}

.circular-progress-sm{
  width:100px;
  height: 100px;
}
.circular-progress-sm::before{
  width: 80px;
  height: 80px;
}
.circular-progress-female::before,.circular-progress-male::before,.circular-progress-others::before{
  content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
}

.circular-progress-female{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(#F6B1CE var(--progress),#e9ecef var(--progress));
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-progress-male{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(#3DB6B1 var(--progress),#e9ecef var(--progress));
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress-others{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(#658C58 var(--progress),#e9ecef var(--progress));
  display: flex;
  align-items: center;
  justify-content: center;
}

.gender{
  justify-content: center;
  align-items: center;

}



@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}