@using Task2.Data.Models
@model Task2.Data.Models.Relative
@{
    ViewData["Title"] = "Add Relative";
}
<h2>Add Relatives </h2>
<form asp-action="Create" asp-controller="Relative" method="post">
<input type = "hidden" name = "empId" value = "@ViewBag.eId">
<div class="mb-3">
<label asp-for = "Name" class = "form-label"></label>
<input asp-for = "Name" class="form-control" />
</div>
<div class="mb-3">
<label asp-for = "Email" class = "form-label"></label>
<input asp-for = "Email" class="form-control" />
</div>
<div class="mb-3">
<label asp-for = "Phone" class = "form-label"></label>
<input asp-for = "Phone" class="form-control" />
</div>
<div class="mb-3">
<label asp-for = "Relation" class = "form-label">Relation</label>
 <select asp-for="Relation" class="form-control">
            <option value="">-- Select Relation --</option>
            <option value="Spouse">Spouse</option>
            <option value="Child">Child</option>
            <option value="Parent">Parent</option>
            <option value="Sibling">Sibling</option>
            <option value="Other">Other</option>
        </select>
</div>
<input type="submit" Value="Add Relative" class="btn btn-primary w-100 p-2">
</form>
<a asp-controller="Employee" asp-action="Details" class="btn btn-secondary w-100 p-2">Back</a>
